[package]
name = "ire"
description = "I2P router implementation in Rust"
version = "0.0.1"
license = "MIT"
authors = ["Jack Grigg <str4d@i2pmail.org>"]
homepage = "https://github.com/str4d/ire"
repository = "https://github.com/str4d/ire"
readme = "README.md"
categories = ["cryptography"]
keywords = ["i2p", "net", "network", "privacy", "security"]
edition = "2018"

[dependencies]
aes = "0.3"
arrayref = "0.3"
block-modes = "0.2"
byteorder = "1.2"
bytes = "0.4"
chrono = "0.4"
clap = { version = "2.32", optional = true }
config = { version = "0.9", default-features = false, features = ["toml"] }
cookie-factory = "0.2"
data-encoding = "2.1"
env_logger = { version = "0.6", optional = true }
flate2 = "1.0"
futures = "0.1"
i2p_ring = { git = "https://github.com/str4d/ring.git", rev = "7fe5a141201e4931ea2bbcd7eb3302fbf22867e9" }
i2p_snow = "0.5.1"
itertools = "0.8"
lazy_static = "1.0"
log = "0.4"
native-tls = "0.2"
nom = "4.0"
num-bigint = { version = "0.2", features = ["rand"] }
num-traits = "0.2"
rand = "0.6"
ring = "0.14"
sha1 = "0.6"
sha2 = "0.8"
signatory = { version = "0.11", features = ["ecdsa", "ed25519"] }
signatory-dalek = "0.11"
signatory-ring = "0.11"
siphasher = "0.3"
tokio = { version = "0.1", optional = true }
tokio-codec = "0.1"
tokio-executor = "0.1"
tokio-io = "0.1"
tokio-tcp = "0.1"
tokio-timer = "0.2"
tokio-tls = "0.2"
untrusted = "0.6"
zip = { version = "0.5", default-features = false, features = ["deflate"] }

[dev-dependencies]
pretty_assertions = "0.5"
tempfile = "3"

[features]
cli = ["clap", "env_logger", "tokio"]
nightly = []

[[bin]]
name = "ire"
required-features = ["cli"]
